In [28]:
# Initial imports
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import plotly.express as px
import hvplot.pandas
from path import Path
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [31]:
# Loading data
file_path = Path("/Users/bornavahabzadeh/Desktop/Project-2/data/main_df.csv")
df = pd.read_csv(file_path, index_col = "Tickers")
#df.drop(["MDLZ", "LEVI"])
df.head(10)

,1,2,3,4,5,6,7,8,9,10,...,167,168,169,170,171,172,173,174,175,acquired
Tickers,,,,,,,,,,,,,,,,,,,,,
RTN,0.002554,-0.005143,0.005991,-0.007012,0.000339,-0.010782,-0.034166,-0.033451,0.003665,0.002974,...,0.009742,0.016232,0.018262,0.007075,0.012471,0.000000,0.000000,0.000000,0.000000,1
CELG,-0.009774,-0.044747,0.009529,-0.011714,-0.017261,0.017447,-0.026700,-0.017027,-0.003970,-0.005072,...,-0.028070,0.055565,0.004960,-0.006050,0.026590,0.039788,0.206933,0.000000,0.000000,1
AGN,0.016011,-0.011047,0.003388,-0.009972,0.000053,-0.046576,0.007713,-0.017139,-0.019187,-0.075547,...,0.042426,0.062334,0.020755,-0.000076,-0.009479,0.253608,0.000000,0.000000,0.000000,1
DD,-0.005447,-0.000171,-0.008901,-0.008290,-0.003483,0.006641,0.007986,-0.004478,-0.006228,0.006093,...,-0.003087,-0.003561,0.002953,0.002014,-0.006958,0.010589,0.026965,0.000000,0.000000,1
MDLZ,0.008600,0.010336,-0.004348,0.001798,-0.000256,-0.005899,0.006192,0.005128,-0.005612,-0.002309,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
ACM,-0.002633,0.002970,-0.002303,0.000000,0.005937,-0.007869,-0.007931,0.001999,-0.023936,0.003747,...,0.014420,-0.005212,0.005716,0.004973,0.013195,0.002558,-0.020181,0.030066,-0.007355,0
AA,0.033430,0.018987,-0.037612,-0.001793,0.028736,-0.000698,0.005940,0.021535,-0.043863,-0.003556,...,-0.013968,-0.030544,0.030137,-0.001330,-0.013759,-0.001800,-0.043282,-0.010839,-0.004764,0
APLE,0.001218,0.000000,0.002433,-0.001820,-0.001824,-0.003045,-0.002443,0.004287,-0.017073,-0.006824,...,0.003007,-0.007194,-0.009058,-0.002438,0.000000,-0.014050,-0.006196,0.008105,-0.005566,0
BCS,0.009490,0.017626,0.004619,0.008046,0.000000,0.007982,-0.027149,-0.026744,-0.023895,-0.004896,...,-0.001149,-0.009206,0.004646,-0.015029,0.031690,0.001138,-0.010227,0.002296,0.005727,0
BRK.B,0.002029,0.007704,-0.003332,0.004573,0.011600,-0.007403,-0.009164,0.005707,-0.018980,-0.005535,...,0.013304,0.005071,0.003333,-0.006420,-0.002079,0.000181,-0.005070,-0.001866,0.001732,0

In [15]:
# separate features from target
y = df["acquired"]
X = df.drop(columns="acquired")

,1,2,3,4,5,6,7,8,9,10,...,167,168,169,170,171,172,173,174,175,acquired
Tickers,,,,,,,,,,,,,,,,,,,,,
RTN,0.002554,-0.005143,0.005991,-0.007012,0.000339,-0.010782,-0.034166,-0.033451,0.003665,0.002974,...,0.009742,0.016232,0.018262,0.007075,0.012471,NaN,NaN,NaN,NaN,1
CELG,-0.009774,-0.044747,0.009529,-0.011714,-0.017261,0.017447,-0.026700,-0.017027,-0.003970,-0.005072,...,-0.028070,0.055565,0.004960,-0.006050,0.026590,0.039788,0.206933,NaN,NaN,1
AGN,0.016011,-0.011047,0.003388,-0.009972,0.000053,-0.046576,0.007713,-0.017139,-0.019187,-0.075547,...,0.042426,0.062334,0.020755,-0.000076,-0.009479,0.253608,NaN,NaN,NaN,1
DD,-0.005447,-0.000171,-0.008901,-0.008290,-0.003483,0.006641,0.007986,-0.004478,-0.006228,0.006093,...,-0.003087,-0.003561,0.002953,0.002014,-0.006958,0.010589,0.026965,NaN,NaN,1
MDLZ,0.008600,0.010336,-0.004348,0.001798,-0.000256,-0.005899,0.006192,0.005128,-0.005612,-0.002309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [16]:
## Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train.shape

(33, 175)

In [17]:
# Create a Logistic Regression Model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1, max_iter = 200)
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
# Train the data
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
# Score the model
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8787878787878788
Testing Data Score: 0.9166666666666666

In [20]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

         Prediction  Actual
Tickers
BHP               0       0
GM                0       0
V                 0       0
KO                0       0
RTN               0       1
AA                0       0
CAT               0       0
GS                0       0
WMT               0       0
BP                0       0
CHGG              0       0
ACM               0       0

In [25]:
# Generate a new data point (the red circle)
#import numpy as np
#df = np.array([[-2, 6]])
#plt.scatter(X[:, 0], X[:, 1], c=y)
#plt.scatter(new_data[0, 0], new_data[0, 1], c="r", marker="o", s=100)

In [26]:
# Predict the class (purple or yellow) of the new data point
#predictions = classifier.predict(df)
#print("Classes are either 0 (purple) or 1 (yellow)")
#print(f"The new point was classified as: {predictions}")

In [29]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [30]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix
Accuracy Score : 0.9166666666666666
Classification Report
              precision    recall  f1-score   support

           0       0.92      1.00      0.96        11
           1       0.00      0.00      0.00         1

    accuracy                           0.92        12
   macro avg       0.46      0.50      0.48        12
weighted avg       0.84      0.92      0.88        12

/Users/bornavahabzadeh/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning:

Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.

          Predicted 0  Predicted 1
Actual 0           11            0
Actual 1            1            0